<tr>
  <td><%= l(article.created_at, format: :only_date) %></td>
  <td><%= article.category.name %></td>
  <td><%= article.title %></td>
  <td>
    <div class="icons">

      <%= link_to edit_administrate_article_path(article), title:"Editar", alt:"edit" do %>
        <%= image_tag 'icons/gray/edit.svg' %>
      <% end %>

      <%= link_to [:administrate, article], title: "Mostrar", alt:"eye" do %>
        <%= image_tag 'icons/gray/eye.svg' %>
      <% end %>

      <%= button_to [:administrate, article], title: "Deletar", alt: "close", class:"button-transparent", data: { turbo: false }, method: :delete, alt:"close" do %>
        <%= image_tag 'icons/gray/close.svg' %>
      <% end %>

    </div>
  </td>
</tr>

